*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    font-family: "Poppins";
    font-size: 20px;
}


header{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 98vw;
    margin: auto;
    position: relative;

    
}

.titulo{
    width: 100%;
    text-align: center;
}

.titulo>span{
    
    animation-duration: 1s;
    animation-name: crecer;
    animation-iteration-count: 1;
    font-size: 60px;
    
}

.svg{
    width: 40px;
    height: 40px;  
}

.svg1, .svg2, .svg3, .svg4, .svg5, .svg6{
    position: absolute;
    transform: scale(1.3);
    animation-name: crecer2;
    animation-duration: 1s;
    animation-iteration-count: 1;
}  

.svg1{left: 10%;}
.svg2{right: 10%;}

.svg3{left: 17%; bottom: 30%;}
.svg4{left: 17%; top: 30%; height: 50px; width: 50px;}

.svg5{right: 17%; bottom: 30%;}
.svg6{right: 17%; top: 30%;}

@keyframes crecer{

    from{
        font-size: 50px;
    }

    to{
        font-size: 60px;
    }
}

@keyframes crecer2{

    from{
        transform: scale(0);
    }

    to{
        transform: scale(1.3);
    }
}




/* -------------- seccion --------------*/

section{
    width: 98vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: auto;
    gap: 10px;
    
}

article{
    min-height: 100vh;
    width: 98vw;
    margin-top: 15px;
}

.problematica-tittle, .palabras-cantantes-tittle, .propuesta-tittle{
    text-align: center;
    display: block;
}

.problematica-tittle{
    margin-top: 20px;
}

.contenedor-problematicas{
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    width: 100%;
}

.caja{
    width: 260px;
    height: auto;
    border: 1px solid #82878938;
    padding: 14px;
    border-radius: 15px;
    box-shadow: 0 0 5px #e7e6e6;
}

.text{
    font-size: 33px;
}

.footer-section{
    width: 60%;
    align-self: center;
    margin-top: 20px;
    border: 1px solid #82878938;
    border-radius: 15px;
    box-shadow: 0 0 5px #e7e6e6;
    padding: 14px;
}

.footer-text{
    font-size: 18px;
}

/*-----Palabras Cantantes-------*/
.contenedor-plb-cantantes{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    font-size: 21px;


}

.plb-cantantes-text{
    margin-top: 10px;
    width: 70%;
    text-align: center;


    border-bottom: 1.5px solid #82878938;
    padding: 14px;
    
    box-shadow: 0 1px 2px #e7e6e6;
}

.text2{
    box-shadow: 0 0 5px #e7e6e6;
    border-radius: 15px;
    padding: 14px;
}


.plb-cantantes-contenedor-cards{
    margin-top: 20px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 25px;
    flex-wrap: wrap;
}

.plb-cantantes-card{
    width: 210px;
    height: auto;
    text-align: center;
}
.img-cantante{text-align: center;}
.cantante-imagen{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: solid 3px #383636d8;
}








/* ----------footer ----------------*/

footer{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    background: #318085;
    color: #ebeaea;
    min-height: 100vh;
}

.propuesta-tittle{
    margin-top: 20px;
}

.cont{
    margin-top: 15px;
    margin-bottom: 2%;
    display: flex;
    flex-direction: row;
    width: 70%;
    align-self: center;
    gap: 20px;
    flex-wrap: wrap;
    
}

.propuesta-text-cont{
    text-align: center;
    font-size: 21px;
}

.contactame{
    font-size: 19px;
    margin-top: 60px;
    width:fit-content;
    box-shadow: 0 0 2px #e7e6e6;
    border-radius: 7px;
    padding: 14px;
    

}

.informacion-contacto{
    padding-top: 10px;
}

.contactame2{
    box-shadow: none;
    display: flex;
    flex-direction: column;
    width: 280px;
    gap: 15px;
}

.contactame2 .contactame-tittle{
    display: flex;
    justify-content: center;
}


.imgs-cont{
    display: flex;
    justify-content: space-evenly;
}
.contactame-img a img{
    width: 50px;
    height: 50px;
}

@media only screen and (max-width: 1060px) {
    .svg1, .svg2{
        display: none;
    }
}

@media only screen and (max-width: 760px){
    .svg{
        display: none;
    }
}